@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #fff; /* Garante que o fundo de toda a página seja branco */
  color: #333; /* Cor do texto para melhor contraste */
  font-family: 'Inter', sans-serif; /* Pode substituir pela fonte de sua escolha */
}

h1, h2, h3, h4 {
  color: #1a1a1a; /* Garanta que títulos tenham uma boa cor de contraste */
}

main {
  flex: 1;
}

footer {
  padding: 1rem;
  text-align: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
